#root {
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Orbitron;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);

    --color-primary-1: orange;
    --color-primary-2: rgb(239, 156, 0);
    --color-secondary-1: rgba(44, 211, 255, 0.6);
    --color-tertiary-1: rgba(240, 46, 170, 0.8);
    --color-tertiary-2: rgba(240, 46, 170, 0.6);
    --color-tertiary-3: rgba(240, 46, 170, 0.4);
    --color-tertiary-shadow-1: rgba(240, 46, 170, 0.4);
    --color-tertiary-shadow-2: rgba(240, 46, 170, 0.3);
    --color-tertiary-shadow-3: rgba(240, 46, 170, 0.2);

    --color-pill-1: rgba(220, 36, 36, 0.723);

}

.orbitron-main_font {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px 10px/16px (default) = 62.5% */
}

body {
    font-weight: 400;
    line-height: 1.6;
    background-color: #242424;
    background-image: url("/endless-constellation.svg");
}

h1 {
    font-family: Orbitron;
}

/* Utility */

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: rgba(19, 19, 19, 0.881);
    /*     background: linear-gradient(var(--color-tertiary-3), var(--color-secondary-1)); */
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    opacity: 0;
    box-shadow: 0rem -0.2rem 0.3rem white;
    border-bottom: solid rgba(255, 255, 255, 0.779);
    margin: 0rem 10rem 0rem 10rem;
    border-radius: 1rem;
    /*     animation: moveInBottom .75s ease-out .75s;
    animation-fill-mode: forwards; */
    animation: appearLeftAndRight 1.25s ease-out;
    animation-fill-mode: forwards;
    width: 85%;
}

.hidden {
    opacity: 0;
}

/* HEADER SECTION */

.header {
    background-color: var(--color-primary-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-height: 7rem; */
    height: 6rem;
    width: 100%;
}

.header h1 {
    font-family: Orbitron;
}

.header_contact {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    padding: 1rem;
}



.header_logo {
    height: 4rem;
    width: 10rem;
    /* margin-left: 3rem; */
}

.header_svg {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header_svg:hover {
    box-shadow: 0 1rem 2rem var(--color-tertiary-1);
    background-color: var(--color-tertiary-2);
    border-radius: 1rem;
    transform: translateY(-.3rem);
    transition: all .2s;
}

.language_select {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    margin-left: 0.2rem;

    &>* {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        cursor: pointer;
    }
}

.language_select_container {
    margin-left: 0.2rem;
}

.language_bar {
    margin: 0 0.4rem 0 0.4rem
}

.innactive {
    padding: 0.2rem;
}

.active {
    border-bottom: solid black;
    padding: 0.2rem;
    box-shadow: 0 1rem 2rem var(--color-tertiary-1);
    background-color: var(--color-tertiary-2);
    border-radius: 1rem;
    transform: translateY(-.3rem);
    transition: all
        /* .2s */
    ;
}

/* hamburgernav component */

.hamburgerNav {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

/* MAIN SECTION COMPONENT */

.main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 2rem;
    margin: 10rem;
    width: 80%;
}

.main h1 {
    font-family: Orbitron;
    font-size: 5rem;
}

.main h3 {
    font-family: Orbitron;
    font-size: 3.5rem;
}

.main_textbox {
    padding-right: 1rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

.main_textbox_h3 {
    height: 4rem;
}

.main_picture {
    padding-left: 1rem;
    animation: moveInRight 1s ease-out;
}

.main_picture img {
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.main_picture img:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 0.1rem solid rgba(255, 255, 255, 0.15);

}

/* ABOUT COMPONENT */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.5rem;
    margin: 0rem 10rem 5rem 10rem;
    animation: moveInBottom .75s ease-out .75s;
    animation-fill-mode: backwards;
    width: 80%;
}

.about h1 {
    font-family: Orbitron;
    margin-bottom: 1rem;
}

.about p {
    margin-bottom: 1rem;
}

.about_textbox {
    margin-top: 5rem;
}

.about_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.922);
    border-radius: 0.6rem;
    padding: 1.8rem;
    margin-top: 2rem;
}

.about_skills h3 {
    font-family: Orbitron;
}

.about_skills img {
    width: 2.4rem;
    height: 2.4rem;
}

.about_skills_pill_container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0rem 1rem 0rem;
}

.about_skills_pill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-pill-1);
    min-width: 10%;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

.about_skills_pill img {
    margin-left: 0.5rem;
}

.about_skills_pill:hover {
    box-shadow: var(--color-tertiary-shadow-1) .5rem .5rem, var(--color-tertiary-shadow-2) 1rem 1rem, var(--color-tertiary-shadow-3) 1.5rem 1.5rem;
    transform: translateY(-.3rem);
    transition: all .2s;
    cursor: default;
}

.download_cv {
    background-color: var(--color-pill-1);
    border: 0;
    padding: 1rem;
    border-radius: 0.3rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87);
    width: 15%;
}

/* PROJECTS COMPONENT */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 10rem 5rem 10rem;
    padding: 2rem;
    animation: moveInBottom .75s ease-out .75s;
    animation-fill-mode: backwards;
    width: 80%;
}

.projects_cards {
    display: flex;
    margin-top: 3rem;
    align-items: stretch;
}

.project_card {
    min-height: 45rem;
    width: 40rem;
    background-color: rgb(47, 47, 47);
    margin-right: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* overflow: hidden; /* test */
    animation: moveInBottom .75s ease-out .75s;
    animation-fill-mode: backwards;
    transition: transform 500ms ease;
}

.project_card:hover {
    transform: scale(1.03);
}

.project_card_title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    background-color: var(--color-primary-2);
}

.project_card_title {
    color: black;
}

.project_card_image {
    /*     height: 100%; setting at 100% was always pushing the project card details down  */
    width: 100%;
}

.project_card img {
    height: 30rem;
    width: 100%;
    object-fit: fill;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;

}

.project_card_details {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin-bottom: 2rem;
    /*    height: auto;
    max-height: 20rem; /* Example: Ensure the content does not exceed a certain height */
    /* overflow: hidden; */
    transition: transform 500ms ease;
    list-style-type: none;
    font-size: 1.5rem;

}

.project_card_details_link {
    display: flex;
    /*     padding: 0.4rem; */
    justify-content: flex-start;
    align-items: center;
}

.project_card_details_link:hover h2 {
    color: var(--color-primary-1);
}

/* .project_card_details_link:hover {
    transform: translateY(-0.3rem);
    transition: all 0.2s;
} maybe a bit too much*/

.project_card_details h2 {
    cursor: pointer;
}

.project_card_details img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.4rem;
}

/* FOOTER COMPONENT */

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary-1);
    margin-top: 3rem;
}

.footer_title {
    margin-top: 2rem;
}

.footer img {
    height: 4rem;
    width: 4rem;
}

.footer_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.footer_contact h2,
.footer_contact h3 {
    color: black;
}

.footer_contact_availability {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    margin: 0 2rem 0 2rem;
}

.footer_contact_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    margin: 0 2rem 0 2rem;
    cursor: pointer;
}

.footer_contact_item img {
    margin-right: 0.5rem;
}

.footer_contact_item:hover {
    box-shadow: 0 1rem 2rem var(--color-tertiary-1);
    background-color: var(--color-tertiary-2);
    border-radius: 1rem;
    transform: translateY(-.3rem);
    transition: all .2s;
}



@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes appearLeftAndRight {
    0% {
        opacity: 0;
        width: 0%;
    }

    100% {
        opacity: 1;
        width: 85%;
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Media queries */

@media (max-width: 1100px) {

    .container {
        margin: 0;
    }

    .header {
        position: fixed;
        z-index: 999;
    }

    .main_textbox_h1 {
        width: 40rem
    }

    .projects_cards {
        flex-direction: column;
    }

    .project_card {
        width: 35rem;
        margin-right: 0;
        margin-bottom: 3rem;

    }

    .footer_contact {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_contact h2 {
        text-align: start;
    }


}

@media (max-width: 880px) {

    /* MAIN SECTION */

    .header_contact {
        display: none;
        /*         flex-direction: column; looks better in a row*/
        width: 100%;
        position: absolute;
        top: 6rem;
        left: 0;
        background-color: var(--color-primary-1);
        padding: 1rem;
        z-index: 1000;
    }

    .header_contact.show {
        display: flex;
    }

    .hamburgerNav {
        display: flex;
        height: 3.6rem;
        width: 3.6rem;

    }

    .hamburgerNav img {
        height: 100%;
        width: 100%;
    }

    .main {
        flex-direction: column;
        align-items: center;
        margin: none;
    }

    .main_textbox {
        margin-bottom: 5rem;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    .main_textbox_h1 {
        width: 100%;
    }

    .main h1 {
        font-size: 4.5rem;
    }

    .main h3 {
        font-size: 2.5rem;
    }

    .main_picture img {
        height: 15rem;
        width: 15rem;
    }

    /* ABOUT SECTION */

    .about_textbox {

        margin-top: 2rem;
    }

    .about_skills_pill_container {
        flex-direction: column;
    }

}

@media (max-width: 880px) {

    .header_svg {
        width: 2.5rem;
    }

    .project_card {
        width: 30rem;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .footer {
        font-size: 0.9rem;
    }
}